<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button">
            <a class="nav-link text-blue" routerLink="view-all-book" >Search All Books</a>
      </button>
      <button class="btn btn-outline-success" type="button">
            <a class="nav-link text-blue" routerLink="view-book-by-id">Search Books By Id</a>
      </button>
      <button class="btn btn-outline-success" type="button">
                  <a class="nav-link text-blue" routerLink="detailed-search">detailed search</a>
      </button>
      
    </form>
</nav>
<router-outlet></router-outlet>

