<app-member-navbar></app-member-navbar>
<!-- write html-->
<!-- <form method="post" enctype="multipart/form-data">
    <mat-form-field>
     <input matInput placeholder="Enter your Username" [(ngModel)]="userObj.memberAddress" name="username" required>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]="userObj.memberEmail" name="emailid" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>                   
  </form>
  
  <button mat-raised-button color="primary" (click)="saveNewUserDetails()">Save User</button> -->
  <!-- <div class="form-group">
      <label for="birthdate">Birthdate</label>
      <input 
      max="2017-04-01"
      type="date" name="birthdate" id="birthdate">
    </div> -->