<nav class="navbar navbar-expand-lg navbar-light bg-dark mb-4" >
     
            <span class="text-white  font-weight-bold "><h4>COMVIVA BOOKSTORE</h4>
            </span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
            
                  <li class="nav-item active">
                              <a class="nav-link text-white" routerLink="/dashboard">Dashboard</a>
                              </li>
                  <li class="nav-item active">
                  <a class="nav-link text-white" routerLink="/view-member-profile">View Profile</a>
                  </li>
                  <li class="nav-item active dropdown" style="cursor: pointer;">
                  <!-- <button class="nav-item dropdown btn" type="button"></button> -->
                              <a class="nav-link text-white dropdown-toggle"  router-link="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Search Book
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-item  dropdown-item" routerLink="/view-all-book">Search All Books</a>
                                <a class="dropdown-item" routerLink="/view-book-by-id">Search Book</a>
                                <a class="dropdown-item" routerLink="/detailed-search">Detailed Search</a>                   
                              </div>
                        <!-- </button> -->
                  </li>
                   <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/issue-book">Issue Book</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/return-book">Return Book</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/issued-book" value="logout" (click)="logout()">Logout</a>
                  </li>    
              </ul>
              
            </div>

</nav>