<app-admin-dashboard></app-admin-dashboard>

<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron">
          <h2>Enter Details</h2><br/>
            <form name="form" (ngSubmit)='f.form.valid && sendData()' #f="ngForm" novalidate>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" [(ngModel)]="member.memberEmail" #email="ngModel"
                 [ngClass]="{'is-invalid':f.submitted && email.invalid}" name="email" required email/>
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.email"> Must be a valid email id</div>
                </div>
              </div>  
  
              <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" [(ngModel)]="member.memberPassword" #password="ngModel"
                [ngClass]="{'is-invalid':f.submitted && password.invalid}" name="password" required minlength="6"/>
                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">Must be a valid 6 len password</div>
                </div>
              </div>
  
              <div class="form-group">
                <label for="dob">Date Of Birth</label>
                <input type="date" class="form-control" [(ngModel)]="member.memberDob" #dob="ngModel"
                [ngClass]="{'is-invalid':f.submitted && dob.invalid}" name="dob" max="2019-11-19" required />
                <div class="invalid-feedback">
                  <div>DOB is required</div>
                </div>
              </div> 
  
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" [(ngModel)]="member.memberAddress" name="address" required />
                <div class="invalid-feedback">
                  <div>Address is required</div>
                </div>
              </div>
  
              <div class="form-group">
                <br/>
                <button type="submit" class="btn btn-primary" >Add Member</button>
              </div>
            </form>          
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  
  <h5>{{message}}</h5>