<app-member-navbar *ngIf='usr'></app-member-navbar>

<app-admin-dashboard *ngIf='!usr'></app-admin-dashboard>

<form *ngIf="!isSearch">
    <h4>Enter details of book to serach</h4>
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="bookObj.bookTitle" name="bookTitle"placeholder="Enter Title">
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Author</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="bookObj.bookAuthor" name="bookAuthor" placeholder="Enter Author name">
        </div>
    </div>

    <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Publisher</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="bookObj.bookPublisher" name="bookPublisher" placeholder="Enter Publisher name">
            </div>
    </div>

          
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" (click)="searchBooks()" (change)="isSearch">Search</button>
      </div>
    </div>
  </form>

<div *ngIf="isSearch">
    <div *ngIf="result">
        <h4>Details of Book</h4>
            <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let res of result">
                        <th scope="row">{{res.bookId}}</th>
                        <td>{{res.bookTitle}}</td>
                        <td>{{res.bookAuthor}}</td>
                        <td>{{res.bookPublisher}}</td>
                        <td>{{res.bookPrice}}</td>
                        <td>{{res.bookQuantity}}</td>
                      </tr>
                    </tbody>
                  </table>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary" (click)="clearSearch()" (change)="isSearch">Search Again</button>
            </div>
          </div>

          
</div>

