<app-member-navbar></app-member-navbar>

<h5 style="width:40% ; margin: 0% auto;"><u> YOUR PROFILE </u></h5>
<br/>
<dl class="row" style="width:50% ; margin: 0% auto;" >
       
    <dt class="col-sm-3">Email ID </dt>
    <dd class="col-sm-9">{{member.memberEmail}}</dd>
  
    <dt class="col-sm-3">ID No.</dt>
    <dd class="col-sm-9">{{member.memberId}}</dd>

    <dt class="col-sm-3">Date Of Birth </dt>
    <dd class="col-sm-9">{{dob}}</dd>

    <dt class="col-sm-3">Address </dt>
    <dd class="col-sm-9">{{member.memberAddress}}</dd>

    <dt class="col-sm-3">Status </dt>
    <dd class="col-sm-9" ><p *ngIf='member.suspended'>Suspended</p>
        <p *ngIf='!member.suspended'>Active</p>
    </dd>
</dl>
