/* 

  a {
    border: seashell;
    background:cornflowerblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow:5px 5px 5px black;
    border-radius:5px;
    width: 200px;
    text-decoration:none;   
}

a{
    text-decoration:none;
}

a:visited{
    background-color: black;
}


  a:hover {
    cursor: pointer;
    background-color:orange;
}

nav{
    display:flex;
    margin:0px auto;
} */